.sidebar__main_container {
    width: 100%;

    .sec_left_item {
        padding: 14.5px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &.enabled {
            border-radius: 1px;
            background: linear-gradient(90deg, rgba(243, 182, 23, 0.52) 0%, rgba(25, 37, 49, 0.00) 100%);
            box-shadow: 2px 0px 0px 0px #E5BE20 inset;
        }

        &_lftgrp {
            display: flex;
            gap: 16px;
            align-items: center;
        }

        &_text {
            font-size: 12px;
            color: #676A84;
            max-width: 102px;

            &.enabled {
                color: #C3E3E9;
            }
        }
        .toggle-switch{
            pointer-events: none;
            cursor: default;
        }
    }
}