.sec_left_item{
    padding:14.5px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &_lftgrp{
        display:flex;
        gap:16px;
    }
    &_text{
        font-size: 12px;
        color:#676A84;
    }
}