.botsec_top_widget {
    display: flex;
    width: 669px;
    padding: 16px 16px 16px 24px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 1px;
    background: #222D38;

    .top_widget_left {
        display: flex;
        gap: 16px;
        align-items: center;

        .top_widget_text_con {

            .text_con_texthead {
                color: white;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            .text_con_textdesc {
                color: rgba(250, 250, 250, 0.70);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 130%;
            }
        }
    }
}

.botsec_bot_widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 28px;

    .bot_widget_donut {
        position: relative;
        width:226px;
        height:226px;

        svg{
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: none;
        }

        .bot_widget_donut_ {
            color: #ffff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 50px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            span.perc_sym {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    .bot_widget_perc_items {
        width: 387px;
        display: flex;
        justify-content: space-around;

        .perc_item {
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;

            &_top {
                display: flex;
                align-items: center;
                gap: 4px;

                &_perc {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;

                    &.red {
                        color: #FF2F62;
                    }

                    &.green {
                        color: #4FD88A;
                    }

                    &.orange {
                        color: #FF5F1F;
                    }
                }
            }

            &_bot {
                color: #585861;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}