.startup-program {
    height: 100%;
    padding: 30px;
    background: rgba(25, 27, 34, 1);
    display: flex;
    flex-direction: column;
    overflow: none;
}

.startup-program__tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;

    .tabs__name {
        color: rgba(113, 116, 142, 1);
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;

        &.active {
            color: #FFF;
            font-weight: 700;
        }
    }
}

.startup-program__data {
    /* height: 400px; */
    flex: 1 1;
    flex-basis: 0px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(53, 64, 74, 1) rgba(255, 255, 255, 0.02);

    /* min-height: min-content; */
}
