.dashboard {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .dashboard__carousel {
        margin-inline: 50px;
        position: relative;
        flex: 1;
        perspective: 5500px;
        transform-style: preserve-3d;
    }

    .dashboard__carousel > * {
        position: absolute;
        right: 0px;
        transform: translate3d(-180px, 0, -1500px);
        
        width: 895px;
        height: 506px;
        border-radius: 1px;
        background: rgb(34, 34, 42);
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 16px;

        transition: all 0.4s;
    }

    .slide__ahead {
        /* transform: translate3d(0, 0, 5500px); */
        transform: translate3d(0, 0, 0);
        filter: opacity(0);
        box-shadow: none;
    }
    .slide__one {
        transform: translate3d(0, 0, 0);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__two {
        transform: translate3d(-60px, 0, -500px);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__three {
        transform: translate3d(-120px, 0, -1000px);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__four {
        transform: translate3d(-180px, 0, -1500px);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__after {
        transform: translate3d(-180px, 0, -1500px);
        filter: opacity(0);
        box-shadow: none;
    }

    .slide__scan-section {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .slide__report-section {
        grid-column: 2 / 5;
        
        .report-section__title {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin-bottom: 8px;
        }

        .report-section__panel {
            display: flex;
            gap: 4px;
        }
        .panel__daily-data {
            flex: 1;
        }
    }

    .slide__utilities-section {
        grid-column: 2 / 5;

        .utilities-section__title {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin-bottom: 8px;
        }

        .utilities-section__cards {
            display: flex;
            gap: 10px;
        }
    }

    .slide__indicator {
        position: absolute;
        height: 22px;

        img {
            height: 100%;
        }
    }

    .dashboard__timeline {
        display: flex;
        align-items: flex-end;
        gap: 5px;

        .timeline__element {
            width: 4px;
            height: 8px;
            background-color: red;
            cursor: pointer;
            transition: all 0.05s;
        }

        .timeline__element:hover {
            height: 16px;
        }
    }
}
