.dashboard {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dashboard__control-panel {
        width: 895px;
        height: 506px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 16px;
    }
    
    .control-panel__scan {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        outline: dotted 1px yellow;
    }
    
    .control-panel__report {
        grid-column: 2 / 5;
        
        .report__title {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin-bottom: 8px;
        }

        .report__daily-data {
            
        }
    }

    .control-panel__utilities {
        grid-column: 2 / 5;

        .utilities__title {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.5px;
            margin-bottom: 8px;
        }

        .utilities__cards {
            display: flex;
            gap: 10px;
        }
    }
}
