.dashboard {
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    .dashboard__carousel {
        margin-inline: 50px;
        position: relative;
        flex: 4;
        perspective: 5500px;
        transform-style: preserve-3d;
    }

    .dashboard__carousel > * {
        position: absolute;
        right: 0px;
        transform: translate3d(-180px, 0, -1500px);
        
        width: 895px;
        height: 506px;
        border-radius: 1px;
        background: rgb(34, 34, 42);
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 16px;

        transition: all 0.4s;
    }

    .slide__ahead {
        /* transform: translate3d(0, 0, 5500px); */
        transform: translate3d(0, 0, 0);
        filter: opacity(0);
        box-shadow: none;
    }
    .slide__one {
        transform: translate3d(0, 0, 0);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__two {
        transform: translate3d(-60px, 0, -500px);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__three {
        transform: translate3d(-120px, 0, -1000px);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__four {
        transform: translate3d(-180px, 0, -1500px);
        filter: opacity(1);
        box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.40);
    }
    .slide__after {
        transform: translate3d(-180px, 0, -1500px);
        filter: opacity(0);
        box-shadow: none;
    }

    .dashboard__timeline {
        flex: 1;
        margin-right: 150px;   
        padding-bottom: 30px;
        /* outline: green solid 1px; */
        display: flex;
        align-items: end;
    }
}
