.timeline {
    /* outline: 1px solid red; */
    width: 100%; 
    position: relative;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 24px;
    
    --secure-color: #4FD88A;
    --partial-color: #F4990D;
    --insecure-color: #FF2F62;
}

.timeline::before {
    content: "";
    position: absolute;
    inset: 0;
    /* background: linear-gradient(90deg, #2a2b35 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, #2a2b35); */
    pointer-events: none;
}

.timeline__section {
    position: relative;
    width: 150px;
    padding-block: 5px;

    &.selected {
        width: 300px;
        padding: 0px;
    }
}

.section__ticks {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    cursor: pointer;
}

.section__frills {
    position: absolute;
    bottom: -36px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.section__underline {
    width: 100%;
    height: 5px;
    border: #D1D3DA 0.5px solid;
    border-top: none;
}

.section__subunderline {
    width: 15%;
    margin-top: 3px;
    border-bottom: #D1D3DA 0.5px solid;
}

.section__score {
    font-size: 10px;
    font-weight: 700;
    margin-top: 3px;
    
    &.section__partial {
        color: var(--partial-color);
    }

    &.section__insecure {
        color: var(--insecure-color);
    }

    &.section__secure {
        color: var(--secure-color);
    }
}

.section__date {
    color: #D9D9D9;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    margin-top: 2px;
}

.timeline__tick {
    /* background-color: white; */
    height: 10px;
    flex: 1;
    /* cursor: pointer; */
    transition: all 0.2s;   

    position: relative;
}

.tick__visible {
    width: 3px;
    height: 100%;

    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);

    transition: all 0.1s, box-shadow 2.5s;

}

.tick__day {
    color: #D1D3DA;
    font-size: 10px;
    font-weight: 700;
    
    position: absolute;
    bottom: -38px;
    text-align: center;
    
    width: 100%;
    padding-top: 5px;
}

.tick__tooltip {
    pointer-events: none;
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-wrap: nowrap;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;

    &.active {
        opacity: 1;
    }

    .tooltip__title {
        color: #D1D3DA;
        font-size: 10px;
        font-weight: 700;
    }

    .tooltip__threat {
        color: #D1D3DA;
        font-size: 8px;
        font-weight: 700;
    }

    .tooltip__frills {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 2px;
        width: 15px;

        img {
            width: 100%;
        }
        .frills__h {
            width: 16px;
            border: 0.5px solid #6F7078;
        }
        .frills__v {
            height: 15px;
            border: 0.1px dashed #6F7078;
        }
    }
}

.timeline__secure {
    color: var(--secure-color);
    background-color: var(--secure-color);

    &.active {
        box-shadow: var(--secure-color) 0px 0px 5px 1.5px;
    }
}

.timeline__insecure {
    color: var(--insecure-color);
    background-color: var(--insecure-color);

    &.active {
        box-shadow: var(--insecure-color) 0px 0px 5px 1.5px;
    }
}

.timeline__partial {
    color: var(--partial-color);
    background-color: var(--partial-color);

    &.active {
        box-shadow: var(--partial-color) 0px 0px 5px 1.5px;
    }
}

.timeline__next {
    width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.next__tick {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #6F7078;
    position: relative;

    .tick__tooltip {
        opacity: 1;

        .tooltip__title {
            color: #6F7078;
        }
    }
}

.next__frills {
    position: absolute;
    bottom: -36px;
}
