.cloud-protection {
    .cloud-protection__banner {
    }
    
    .cloud-protection__data {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 28px;
    }

    .data__chart {
        width: 220px;
        height: 220px;
        position: relative;
    }

    .data__max {
        color: #FFF;
        font-size: 50px;
        font-weight: 700;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .percent {
            font-size: 20px;
            font-weight: 300;
        }
    }

    .data__values {
        display: flex;
    }

    .data__item {
        padding: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }

    .item__viz {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        gap: 4px;
    }

    .viz__icon {
        width: 16px;

        img {
            width: 100%;
        }
    }

    .viz__value {
        color: var(--font-color);
        font-size: 16px;
        font-weight: 700;
        
    }

    .item__title {
        color: #6d6d74;
        font-size: 16px;
        font-weight: 700;
    }
}

.adblocker {
    height: 100%;
    display: flex;
    flex-direction: column;

    .adblocker__banner {

    }

    .adblocker__settings {
        margin-top: 32px;

        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .settings__title {
        color: #FFF;
        font-size: 12px;
        font-weight: 700;

        margin-bottom: 10px;
    }

    .settings__options {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 8px;
    }

    .options__item {
        background-color: rgba(34, 45, 56, 0.6);
        border-radius: 1px;

        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    
    .item__title {
        line-height: 1;
        margin: 0px;

        font-size: 14px;
        font-weight: 200;
        letter-spacing: 0.4px;
    }

    .item__button {
        height: 15px;
    }

    .settings__apply {
        display: flex;
        justify-content: flex-end;
    }
}
