.screen__head {
    display: flex;
    gap: 8px;

    .screen__exit {
        width: 16px;
        cursor: pointer;
        line-height: 0.8;

        img {
            width: 100%;
        }
    }

    .screen__name {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name__title {
            color: #FFF;
            font-size: 12px;
            font-weight: 700;
        }

        .name__desc {
            color: rgba(250, 250, 250, 0.70);
            font-size: 14px;
            font-weight: 200;
        }
    }

    .screen__misc {
        margin-left: auto;
    }
}
