.user-navpanel {
    display: flex;
    border: solid white 1px;
    color: white;
    width: 100%;
    font-size: 10px;
}

.user-navpanel__step {
    display: flex;
    margin-inline: 8px;
}

.user-navpanel__step-val {
    background-color: #F3B617;
    color: black;
    font-size: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 8px;
}
