.npav-scan_progress {
    /* width: 220px;
    height: 220px; */
    /* border-radius: 50%;
    background-color: #9c8629; */
    /* position: relative; */
    /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 50%, 50% 50%, 50% 0%); */
    
    position: relative;

    .progress__data {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: flex-end;
        gap: 2px;

        &.complete {
            top: 50%;
            animation: blink 1s infinite;
            /* TODO: improve animation to proper blink */
        }

        .data__percent {
            color: #FFF;
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
        }
        .data__symbol {
            color: #FFF;
            font-size: 20px;
            font-weight: 500;
        }
    }

    .progress__control {
        width: 30px;
        position: absolute;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);

        cursor: pointer;
        /* margin: 5px auto; */

        &>img {
            width: 100%;
        }
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
