.npav-scan_progress {
    width: 200px;
    height: 200px;
    /* border-radius: 50%;
    background-color: #9c8629; */
    /* position: relative; */
    /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 50%, 50% 50%, 50% 0%); */

}
